*
{
    box-sizing: border-box;
}

.mydiv1
{
    background-color: crimson;
    text-align: center;
    position: relative;
    top:100px;
    left:283px
}

.mydiv2
{
    background: orange;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.Child-div1,.Child-div2,.Child-div3
{
    background-color: greenyellow;
    height: 100px;
    width: 100px; 
}

